# Contract Configuration
VITE_MEGAPLACE_ADDRESS=0x67fFb0A02CE1E9c3Ee3EFAF17fA82399cD2e3D28

# Chain Configuration
VITE_CHAIN_ID=6343
VITE_CHAIN_NAME=MegaETH Testnet
VITE_RPC_URL=https://timothy.megaeth.com/rpc
VITE_RPC_WS_URL=wss://timothy.megaeth.com/rpc
VITE_BLOCK_EXPLORER_URL=https://megaeth-testnet-v2.blockscout.com

# Backend Configuration
VITE_BACKEND_URL_PROD=https://arweave.tech/api/megaplace
VITE_BACKEND_URL_DEV=http://localhost:3002
